html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  background-color: #333333;
  height: 100%;
  margin: 0 auto;
}
body {
  height: 100%;
}

nav {

}

nav .form-control {
  background-color: rgba(100,100,100,.5);
  border: 0;
  color: #fff;
}

.main-container {
  display: table;
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  background-image: url("../img/0005.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.main-container-inner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 65px;
}
@media (max-width: 768px) {
  .main-container-inner {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}
.about-container {
  background-color: #EC725D;
  display: table;
  width: 100%;
  min-height: 50%;
}
@media (max-width: 768px) {
  .about-container {
    min-height: 100%;
  }
}
.about-container-inner {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .about-container-inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}
.contact-container {
  display: table;
  width: 100%;
  min-height: 100%;
  background-image: url("../img/0004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.contact-container-inner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 65px;
}
@media (max-width: 768px) {
  .contact-container-inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}
.copyright, .quicklinks{
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
  text-transform: none;
  color: #EC725D;
}
.copyright a, .copyright a:hover, .copyright a:focus, .copyright a:active,
.quicklinks a, .quicklinks a:hover, .quicklinks a:focus, .quicklinks a:active {
  color: #EC725D;
  text-decoration: none;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #EC725D;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #EC725D;
  color: #fff;
}
